/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

button {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
}

html, input {
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
  height: 100%
}

.login.page .form {
  position: absolute;

  text-align: center;
  top: 50px;
  width: 100%;
}

.saly {
  margin-bottom:20px;
}

.login.page .title {
  font-size: 36px;
  font-weight: 900;
  margin:0px;
}

.login.page .description {
  font-size: 16px;
  font-weight: 400;
}

.login.page .tdescription {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
}

.login.page .step {
  height:30px;
  width:30px;
  color: #E8E8E8;

  border: 1px solid #E8E8E8;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.login.page .instruction {
  font-size: 16px;
  font-weight: 400;
  color: #A9A9A9;
}


.login.page .title, .login.page .description, .login.page .tdescription {
  color: #fff;
}

.tnum {
  width: 30px;
}

.tpadding {
  width: 10px;
}

.tbutton {
  width: 205px;
  height: 30px;
}

.trow {
  padding-bottom: 36px;
}

#step1 {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  border-collapse:separate;
  border-spacing: 0 36px;
}

#descriptionarea {
  margin-top: 15px;
  padding-left:40px;
  padding-right:40px;
}

.instructionarea {
  margin-top: 35px;
  padding-left:90px;
  padding-right:90px;
}

.stepsarea {
  text-align: center;
  padding-left:50px;
  padding-right:50px;
}

.recordButton {
  height: 30px;
  width: 210px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 3px;
}

#enter {
  margin-top:40px;
  width: 250px;
  height: 40px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: #767676;
}

/* Chat page */

.chat.page {
  display: none;
}

#urgent {
  position: absolute;
  right: 20px;
  bottom: 60px;
  height: 30px;
  width: 80px;
  background-color: #F6D5D5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 3px;
}

#normal {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 30px;
  width: 80px;
  background-color: #D5E9F6;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 3px;
}

#exit {
  position: absolute;
  right: 25px;
  top: 25px;
  height: 20px;
  width: 20px;
}

#exitlabel {
  position: absolute;
  right: 15px;
  top: 50px;
  height: 10px;
  width: 40px;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px;
  color: white;
}

#mute {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 20px;
  width: 20px;
}

#mutelabel {
  position: absolute;
  left: 15px;
  top: 50px;
  height: 10px;
  width: 40px;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px;
  color: white;
}

#chatBanner {
  height: 80px;
  width: 100%;
  background-color: black;
  text-align: center;
}

#bmw {
  position: absolute;
  margin-left:auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  left:0;
  right:0;
  top: 24px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}


#participants {
  position: absolute;
  margin-left:auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  left:0;
  right:0;
  top: 50px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  color: #A8A8A8;
}

/* Font */

.messages {
  font-size: 150%;
  text-align: left;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: calc(100% - 80px);
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  word-break: break-word;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-size: 80%;
  overflow: hidden;
  padding-right: 15px;
  display: block;
}

/* Bottom Chat Grid Div */
.grid-container {
  display: flex;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

/* chat bubble of message body */
.messageBody.hello {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  padding: 10px 20px 10px 20px;
  background-color: #d5e9f6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.messageBody.urgent {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  padding: 10px 20px 10px 20px;
  background-color: #f6d5d5;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Input */

.inputMessage {
  border: 1px solid #000;
  border-radius: 3px;
  height: 30px;
  outline: none;
  padding-left: 10px;
  flex: 1;
  margin-left: 20px;
}

/* Empty div next to inputMessage */
.empty-div {
  height: 30px;
  width: 120px;
}
